* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
html,body {
  width: 100%;
  height: 100%;
}
